.admin-view {
	width: 100%;
	height: 100%;

	.admin-nav {		

		.admin-nav-top{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			width: auto;
			padding: 10px;
		}
		.admin-logo {
			height: 70px;
			width: 100%;
			background-image: url('./img/showgrid.png');
			background-position: center;
			background-repeat: no-repeat;
			background-size: 80%;
		}
		.city-picker {
			font-size: 12px;
			width: 70%;
		}
		div{
			text-align: center;
		}
	}

}